.header-top
	.container
		.header-top-content
			a(href="index.html").logo
				img(src="img/logo.png", width="92" alt="logo")
			.header-menu
				ul.header-menu-list
					li.header-menu-item 
						a(href="#!") Главная
					li.header-menu-item.menu-item-drop
						a(href="#!") Деятельность
						.menu-item-icon +
						.menu-item-submenu
							nav
								a(href="#") Образование
								a(href="#") Резиденции
								a(href="#") Агентство
								a(href="#") Галерея
					li.header-menu-item 
						a(href="#!") Новости
					li.header-menu-item 
						a(href="#!") Команда
					li.header-menu-item 
						a(href="#!") Партнеры
					li.header-menu-item 
						a(href="#!") Контакты
			a(href="#").lang-toggle CH
			.menu-toggle
				span