mixin arrIcon2
	<svg width="51" height="16" viewBox="0 0 51 16" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M50.7071 8.70711C51.0976 8.31658 51.0976 7.68342 50.7071 7.29289L44.3431 0.928932C43.9526 0.538408 43.3195 0.538408 42.9289 0.928932C42.5384 1.31946 42.5384 1.95262 42.9289 2.34315L48.5858 8L42.9289 13.6569C42.5384 14.0474 42.5384 14.6805 42.9289 15.0711C43.3195 15.4616 43.9526 15.4616 44.3431 15.0711L50.7071 8.70711ZM0 9H50V7H0V9Z" fill="#EB2325"/>
	</svg>

section.profile
	.container
		.profile-content
			.title-block
				h2.title-2 Направления деятельности фонда
			.profile-lines
				a(href="#!").profile-card
					.profile-icon
						img(src="img/profile1@1x.png", srcset="img/profile1@2x.png 2x", alt="icon")
					.profile-text
						p.bold-text Резиденции для художниковв России и&nbsp;Китае
					.profile-link.text-15 Подробнее
						span.link-ic
							+arrIcon2
				a(href="#!").profile-card
					.profile-icon
						img(src="img/profile2@1x.png", srcset="img/profile2@2x.png 2x", alt="icon")
					.profile-text
						p.bold-text Выставки локальных современных художников двух стран 
					.profile-link.text-15 Подробнее
						span.link-ic
							+arrIcon2
				a(href="#!").profile-card
					.profile-icon
						img(src="img/profile3@1x.png", srcset="img/profile3@2x.png 2x", alt="icon")
					.profile-text
						p.bold-text Информационно образовательная платформа
					.profile-link.text-15 Подробнее
						span.link-ic
							+arrIcon2