extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_header-title.pug
	include ../sections/_section1.pug
	include ../sections/_profile.pug


block variables
	-var title = "Page";
	