
mixin headerH
	<svg width="94" height="102" viewBox="0 0 94 102" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.425001 102V0.499993H27.25V38.2H66.4V0.499993H93.225V102H66.4V62.85H27.25V102H0.425001Z" fill="#E3E3E3"/>
		</svg>